/*=========================================================
 *
 * BASE STYLES
 *
 * ========================================================*/
/* Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Miltonian|Sail|Ribeye+Marrow|Italianno' rel='stylesheet' type='text/css");

/* HTML Elements */
html, body {
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    color: #12A5B0;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #FD003B;
}

.clear {
    clear: both;
}
/*=========================================================
 *
 * HEADERS
 *
 * ========================================================*/
h1,h2,h3,h4,h5,h6 #header {
    color: #12A5B0;
    font-family: "Sail", cursive;
    font-size: 1.5em;
}

h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 0 0 #2c2d32;
}
    
/*=========================================================
 *
 * LISTS
 *
 * ========================================================*/
ul, li {
    list-style-type: circle;
}

ul {
    margin-top: 5px;
}

/*=========================================================
 *
 * DIVS
 *
 * ========================================================*/
div {
    text-overflow: ellipsis;
}

/*=========================================================
 *
 *              LAYOUT
 *
 * ========================================================*/
/* site_wrapper contains every element */
#site_wrapper {
    /* _height will only work in IE */
    _height: 100%;
    position: relative;
    min-height: 100%;
}

/*=========================================================
 *
 * HEADER
 *
 * ========================================================*/
#header_wrapper {
    position: relative;
}

    #blog_banner {
        background: url(../image/colored_tiles.jpg) no-repeat;
        border: 6px solid #FD003B;
        border-radius: 15px;
        height: 280px;
        margin: 10px 30% 0 30%;
        width: 719px;
    }
        #blog_banner h1 {
            background: rgba(255,255,255,.7);
            box-shadow: 0 0 6px #343434;

            margin: 170px 0 0 0;
        }

/*=========================================================
 *
 * SITE NAVIGATION
 *
 * ========================================================*/
#site_nav_wrapper {
    position: relative;
}

    #site_nav_inner {
        border-radius: 10px;
        padding: 0 15%;
        position: relative;
        z-index: 100;
    }

        #site_nav {
            margin: 0 auto;
            /*Note: to align the a links, change this padding*/
            padding: 0 0 0 18%;
            position: relative;
            overflow: auto;
        }

            #site_nav a {
                color: #12A5B0;
                display: block;
                float: left;
                margin: 0 4% 0 0;
                min-width: 120px;
                padding: 15px 0 0 0;
                text-align: center;
                font-family: "Sail", cursive;
                font-size: 1.5em;
                font-weight: bold;
                text-decoration: none;
            }

            #site_nav a:hover {
                color: #FD003B;
            }

/*=========================================================
 *
 * BODY 
 *
 * ========================================================*/
#content_wrapper {
    margin: 0 15%;
    padding: 10px 0 95px 0;
    position: relative;
}

/*=========================================================
 *
 * PAGE LAYOUT
 *
 * ========================================================*/
#main_content_wrapper {
    background: url(../image/floral2.png); /*#53DBBB;*/
    border: 1px dashed #12A5B0;
    border-radius: 10px;
    position: relative;
    width: 100%;
}

/* LEFT SIDE */
#left_content_block {
    float: left;
    margin: 10px;
    position: relative;
    width: 65%;
}

/* RIGHT SIDE */
#right_content_block {
    float: left;
    margin: 10px 10px 10px 0;
    width: 30%;
}

/*=========================================================
 *
 * FOOTER
 *
 * ========================================================*/
#footer_wrapper {
    border-radius: 10px;
    bottom: 0;
    height: 80px;
    left: 0;
    margin: 0 22%;
    position: relative;
    right: 0;
}
    #footer_content {
        text-align:center;
    }

/*=========================================================
 *
 * REUSABLE CLASSES
 *
 * ========================================================*/
.blog_post {
    background: #ffffff;
    border: 4px solid #12A5B0;
    border-radius: 10px;
    margin: 10px;
    padding: 8px;
    width: 60%:
}

.paragraph_style {
    text-align: justify;
}

.photo2 {
    float: left;
    margin: 10px 25px 10px 10px;
}

.photo3 {
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0 5px;
}
/*=========================================================
 *
 * CLASSES FOR OTHER TABS
 *
 * ========================================================*/
.cute_code {

}

.arts_and_crafts {

}

.wedding {

}

.yummies {

}

.something_extra {

}
