/*=========================================================
 *
 * BASE STYLES
 *
 * ========================================================*/
/* Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Sail|Ribeye+Marrow|Italianno' rel='stylesheet' type='text/css");

/* HTML Elements */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    color: #12A5B0;
    font-family: "Sail", cursive;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    color: #C40619;
    text-decoration: underline;
}

/*=========================================================
 *
 * HEADERS
 *
 * ========================================================*/
h1,h2,h3,h4,h5,h6 #header {
    color: #12A5B0;
    font-family: "Sail", cursive;
    font-size: 1.5em;
}

h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 0 0 #2c2d32;
}
    
/*=========================================================
 *
 * LISTS
 *
 * ========================================================*/
ul, li {
    list-style-type: circle;
}

ul {
    margin-top: 5px;
}

/*=========================================================
 *
 * DIVS
 *
 * ========================================================*/
div {
    text-overflow: ellipsis;
}

/*=========================================================
 *
 *              LAYOUT
 *
 * ========================================================*/
/* site_wrapper contains every element */
#site_wrapper {
    /* _height will only work in IE */
    _height: 100%;
    position: relative;
    min-height: 100%;
}

/*=========================================================
 *
 * HEADER
 *
 * ========================================================*/
#header_wrapper {
    height: 150px;
    position: relative;
}

    #header {
        margin: 100px 0 5% 0;
    }


/*=========================================================
 *
 * SITE NAVIGATION
 *
 * ========================================================*/
#site_nav_wrapper {
    bottom: 5px;
    height: 70px;
    left: 0;
    position: absolute;
    right: 0;
}

    #site_nav_inner {
        border: 1px dashed #12A5B0;
        bottom: 0;
        left: 20%;
        padding: 0 10%;
        position: absolute;
        right: 20%;
        top: 0;
        z-index: 100;
    }

        #site_nav {
            height: 100%;
            margin: 0 5%;
        }

            #site_nav a {
                display: block;
                height: 100%;
                float: left;
                margin: 0 2%;
                min-width: 120px;
                padding: 15px 0 0 0;
                text-align: center;
            }

#site_nav_background {
    bottom: 15px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/*=========================================================
 *
 * BODY 
 *
 * ========================================================*/
#content_wrapper {
    height: 100%;
    margin: 0 5%;
    padding: 0 0 95px 0;
    position: relative;
}

/*=========================================================
 *
 * PAGE LAYOUT
 *
 * ========================================================*/
#main_content_wrapper {
    background: #53DBBB;
    border: 1px dashed #12A5B0;
    height: 100%;
    position: relative;
    width: 100%;
}

/* LEFT SIDE */
#left_content_block {
    float: left;
    margin: 10px;
    position: relative;
    width: 65%;
}

/* RIGHT SIDE */
#right_content_block {
    float: left;
    margin: 10px 10px 10px 0;
    width: 30%;
}

/*=========================================================
 *
 * FOOTER
 *
 * ========================================================*/
#footer_wrapper {
    border: 1px dashed #12A5B0;
    bottom: 0;
    height: 80px;
    left: 0;
    margin: 20px;
    position: relative;
    right: 0;
}
    #footer_content {
        text-align:center;
    }

/*=========================================================
 *
 * REUSABLE CLASSES
 *
 * ========================================================*/
.blog_post {
    background: #ffffff;
    border: 4px solid #DB3F47;
    margin: 10px;
    padding: 8px;
    width: 60%:
}

.paragraph_style {
    text-align: justify;
}
